body {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    cursor: default;
}

.header {
    height: 800px;
    background-image: url('../images/backgrounds/header-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.header-title {
    font-size: 66px;
    font-weight: bold;
    color: white;
    text-shadow: 5px 5px 5px black;
}

.header-content {
    font-size: 24px;
    color: white;
}

.section {
    padding-top: 140px;
    padding-bottom: 150px;
    background-color: #fffcfa;
}

.title {
    border-bottom: 5px solid #fe645c;
    margin-bottom: 10px;
    display: inline-block;
}

.section.why-us {
    background-image: url('../images/backgrounds/why-us-background.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-shadow: 0 0 1px black;
}

.section.get-in-touch {
    background-image: url('../images/backgrounds/get-in-touch-background.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-position: center center;
    text-shadow: 0 0 1px black;
}

.circular-icon-container {
    border-radius: 100%;
    padding: 68px;
    width: 200px;
    margin: 0 auto;
}

.what-do-we-do-icon {
    background-color: #dcf9ff;
}

.black-mountain-icon {
    background-color: white;
}

.btn-nav-outline {
    font-weight: bold;
    color: #ffa19f;
    border: 1px solid transparent;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 8px;
}

.btn-nav-outline.active,
.btn-nav-outline:hover {
    color: #fe645e;
    border-bottom-color: #ffa19f;
}

.zoom-animation {
    transition: all ease-in 100ms;
}

.zoom-animation:hover {
    transform: scale(1.03);
}
